/**
 * Font Face Declarations
 *
 * Self-hosted fonts for better performance and offline support.
 */

/* IBM Plex Mono - Regular */
@font-face {
  font-family: "IBM Plex Mono";
  src: url("../../../assets/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("../../../assets/fonts/IBM_Plex_Mono/IBMPlexMono-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* IBM Plex Mono - Light */
@font-face {
  font-family: "IBM Plex Mono";
  src: url("../../../assets/fonts/IBM_Plex_Mono/IBMPlexMono-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("../../../assets/fonts/IBM_Plex_Mono/IBMPlexMono-LightItalic.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* IBM Plex Mono - Medium */
@font-face {
  font-family: "IBM Plex Mono";
  src: url("../../../assets/fonts/IBM_Plex_Mono/IBMPlexMono-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("../../../assets/fonts/IBM_Plex_Mono/IBMPlexMono-MediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* IBM Plex Mono - SemiBold */
@font-face {
  font-family: "IBM Plex Mono";
  src: url("../../../assets/fonts/IBM_Plex_Mono/IBMPlexMono-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("../../../assets/fonts/IBM_Plex_Mono/IBMPlexMono-SemiBoldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* IBM Plex Mono - Bold */
@font-face {
  font-family: "IBM Plex Mono";
  src: url("../../../assets/fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("../../../assets/fonts/IBM_Plex_Mono/IBMPlexMono-BoldItalic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Berkeley Mono - Regular */
@font-face {
  font-family: "Berkeley Mono";
  src: url("../../../assets/fonts/Berkeley_Mono/BerkeleyMono-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Berkeley Mono";
  src: url("../../../assets/fonts/Berkeley_Mono/BerkeleyMono-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Berkeley Mono - Bold */
@font-face {
  font-family: "Berkeley Mono";
  src: url("../../../assets/fonts/Berkeley_Mono/BerkeleyMono-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Berkeley Mono";
  src: url("../../../assets/fonts/Berkeley_Mono/BerkeleyMono-BoldItalic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
