.tiptap-badge-group {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.tiptap-badge-group [data-orientation="vertical"] {
  flex-direction: column;
}
.tiptap-badge-group [data-orientation="horizontal"] {
  flex-direction: row;
}
