.contentArea {
  height: 100vh;
  width: calc(100vw-240px);
  padding: 10px 20px;
}

.appsList {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 8px;
}

.appItem {
  cursor: pointer;
  padding: 4px 0;
}

.appItem:hover {
  text-decoration: underline;
}
