.launchBarContainer {
  width: calc(100vw - 240px);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  right: 0;
}

.buttonArea {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 0.25rem;
  margin-right: 8px;
}