.launchBarContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.buttonArea {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 0.25rem;
}

.buttonArea a {
  color: #00aaff;
  text-decoration: underline;
}
