@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --safe-area-inset-top: env(safe-area-inset-top, 0px);
  --safe-area-inset-right: env(safe-area-inset-right, 0px);
  --safe-area-inset-bottom: env(safe-area-inset-bottom, 0px);
  --safe-area-inset-left: env(safe-area-inset-left, 0px);
}

html,
body {
  @apply m-0 p-0 relative max-h-screen h-screen overflow-scroll z-10;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}

input,
textarea,
select {
  font-size: max(16px, 1rem);
}

.safe-area-bottom {
  padding-bottom: calc(0.5rem + var(--safe-area-inset-bottom));
}

.safe-area-top {
  padding-top: calc(0.5rem + var(--safe-area-inset-top));
}

.overscroll-contain {
  overscroll-behavior: contain;
}

@keyframes rainbowSlide {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: -100% 50%;
  }
}
