button {
    padding: 8px 16px;
    color: var(--button-foreground-color, #F8FAFC);
    background-color: var(--button-background-color, #0F172A);
    border-radius: 6px;
    font-weight: 400;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover-background-color, #272E3F);
}

button:focus-visible {
    outline: 2px solid var(--color-gray-900);
    outline-offset: 2px;
}

button[disabled] {
    background-color: var(--button-disabled-background-color, #878B94);
    cursor: not-allowed;
}