.loading-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 550px;
    background-image: url(./images/liveshapes.svg);
    transform: translate(-50%, -50%) scale(0.20);
    filter:
        drop-shadow(0 2px 4px rgba(0, 0, 0, 0.10)),
        drop-shadow(0 2px 6px rgba(0, 0, 0, 0.10));
    transition: transform 0.45s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.loading-indicator.visible {
    transform: translate(-50%, -50%) scale(0.65);
}